.App {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 
width: 800px ;
border: 5px solid black ;
height: 900px;
margin-left: 300px;
position: relative;
}


.header {
  display: flex;
  align-items: center;
  margin-left: 80px;
  margin-top: 50px
}
.inputarea{
width: 400px  ; 
height: 25px;
margin: 20px ;
border: 2px solid black ;
border-radius: 4px;
}
.addbutton{
  height:30px ;
  width: 100px ;
  background-color: white ; 
  border :2px solid black ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-weight: bold ;
  margin-left: 15px
}
li {
  list-style-type: none;
}
.list {
  display: flex ;
  position: relative;
align-items: baseline ; 
margin-left: 100px;
border-bottom: solid black;
width: 365px;
padding-bottom: 15px

}
.buttons {
  right: 100px ;
  position: absolute ;
  bottom: -3px ;
  right :-215px
  
}
